body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
}
body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
}


.part-1 {
    background-color: #007bff;
    padding-top: 3rem !important;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: center !important;
    height: 530px;
}

.part-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.card-block {
    max-height: 500px;
    max-width: 371px;
   
}

.a {
   font-size: 88px;
}

.card2{
    justify-self: right !important;
    justify-items: right !important;
    text-align: right !important;
    position: sticky;
    left: 1020px;
    top: 100px;
}

.card1 {
    left: 615px; 
}

.btn {
    transition: 30ms !important;
    transition-duration: 0.15s !important;
}
